@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, heading */
@layer base {
  body {
    @apply bg-[#10141E] text-white font-Outfit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
}

@layer components {
  .navIcons {
    @apply cursor-pointer opacity-40 hover:opacity-100 h-[16px] w-[16px] md:h-5 md:w-5;
  }

  .background-image {
    @apply min-w-[240px]
    min-h-[140px]
    /* max-w-[400px]
    max-h-[200px] */
    md:min-w-[470px]
    md:min-h-[230px]
    transition-all
    rounded-lg
    /* mx-4 */
    bg-cover
    flex
    flex-col 
    w-full 
    bg-no-repeat
    bg-center
    box-border
    pr-2
    pt-2
    md:pr-3
    md:pt-3;
  }
}
